body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fallingLeaves {
  text-align: center;
}
.fallingLeaves span {
  display: inline-block;
  width: 40px;
  height: 100px;
  margin: -280px 40px 54px  -34px;
  background:url("monster.png");
  position: relative;
  top: -200px;

  -webkit-animation: fallingLeaves 10s infinite  linear;
  -moz-animation: fallingLeaves 10s infinite  linear;
}
.fallingLeaves span:nth-child(5n+5) {

  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}
.fallingLeaves span:nth-child(3n+2) {

  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
.fallingLeaves span:nth-child(2n+5) {

  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
}

.fallingLeaves span:nth-child(3n+10) {

  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
}
.fallingLeaves span:nth-child(7n+2) {

  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
}
.fallingLeaves span:nth-child(4n+5) {

  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
}
.fallingLeaves span:nth-child(3n+7) {

  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
}
@-webkit-keyframes fallingLeaves {
0% {
  opacity: 1;

-webkit-transform: translate(0, 0px) rotateZ(0deg);
}
75% {
  opacity: 1;

-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
}
100% {
  opacity: 0;

-webkit-transform: translate(150px, 800px) rotateZ(360deg);
}
}
@-moz-keyframes fallingLeaves {
0% {
  opacity: 1;

-webkit-transform: translate(0, 0px) rotateZ(0deg);
}
75% {
  opacity: 1;

-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
}
100% {
  opacity: 0;

-webkit-transform: translate(150px, 800px) rotateZ(360deg);
}
}